a {
  text-decoration: none;
}

ul {
  margin: 0;
}

body {
  background-color: #F2F4F8;
}

.app-container {
  padding: 50px 0px;
}

.onboarding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 60px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  list-style: none;
  background: #009879;
  padding: 10px 0px;
  position: fixed;
  width: 100%;
}

.page-not-found {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.anchor {
  cursor: pointer;
  text-decoration: underline;
  color: #009879;
  margin-left: 10px;
}