.associate-form {
    padding: 20px;
}

.all-associate-container {
    width: 100%;
    display: block;
    padding-bottom: 80px;
}

.all-associate-body {
    display: flex;
    justify-content: center;
}

.all-associate-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px 20px 20px 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    align-content: center;
}

.download-icon {
    padding-top: 20px;
    font-size: 30px;
    color: #1976d2;
    cursor: pointer;
    padding-right: 10px;
}

.submit-btn {
    background-color: #002d9c;
    color: #fff;
    border-style: none;
    padding: 8px 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0.03rem;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.submit-btn:focus {
    background-color: #002d9c;
    /* box-shadow: 0 0 0 0.25rem rgb(0 152 121 / 50%); */
}

.submit-btn:active {
    background-color: #002d9c;
    /* box-shadow: 0 0 0 0.25rem rgb(0 152 121 / 50%); */
}

.submit-btn:hover {
    background-color: #F2F4F8;
    border: 1px solid #002d9c;
    color: #1976d2;
}

.form-field-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-field-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-field-3 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

.import-style {
    display: flex;
    justify-content: center;
}

.import-associate-container {
    padding-top: 45px;
}

.file-container {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.associate-table-header {
    display: flex;
    justify-content: space-between;
}

.all-associate-table {}

.associate-table-container {
    padding: 0px 15px 30px 25px;
}

.reset-filter {
    background-color: #002d9c !important;
    color: white !important;
}

.reset-filter:hover {
    background-color: #F2F4F8 !important;
    border: 1px solid #002d9c !important;
    color: #1976d2 !important;
}