.login-btn {
    background: #009879 !important;
}

.btn-color {
    color: #009879 !important;
}

.btn-color:focus {
    color: #009879 !important; 
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    color: #009879 !important; 
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input:focus {
    color: #009879 !important; 
}

.css-1a1fmpi-MuiInputBase-root-MuiInput-root:after {
    color: #009879 !important; 
}

.css-1fu7jd5-MuiButtonBase-root-MuiButton-root:focus {
    color: #009879 !important; 
}